<a href="https://colab.research.google.com/github/Brenda01234/Generative-AI/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**Core Data structures**

In [5]:
import pandas as pd
import numpy as np

# Series - 1D labeled array
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

# DataFrame - 2D labeled data structure (like a spreadsheet)
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Tokyo']
}
df = pd.DataFrame(data)
print(df)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Tokyo

**Data Import/Export**

In [ ]:
# Read from various formats
df_csv = pd.read_csv('data.csv')
df_excel = pd.read_excel('data.xlsx')
df_json = pd.read_json('data.json')
df_sql = pd.read_sql('SELECT * FROM table', connection)

# Write to various formats
df.to_csv('output.csv')
df.to_excel('output.xlsx')
df.to_json('output.json')

**Data exploration and Inspection**

In [ ]:
# Basic information
df.head()          # First 5 rows
df.tail()          # Last 5 rows
df.info()          # Data types and memory usage
df.describe()      # Statistical summary
df.shape           # (rows, columns)
df.columns         # Column names
df.index           # Index/row labels

**Data selection and Indexing**

In [ ]:
# Column selection
df['Age']          # Single column (Series)
df[['Name', 'Age']]  # Multiple columns (DataFrame)

# Row selection
df.iloc[0]         # By integer position
df.loc[0]          # By label
df[df['Age'] > 30] # Boolean indexing

# Slicing
df.iloc[0:3]       # Rows 0-2
df.iloc[0:3, 1:3]  # Rows & columns

**Data Manipulation**

In [ ]:
# Adding/removing columns
df['New_Column'] = df['Age'] * 2
df = df.drop('Column', axis=1)

# Sorting
df.sort_values('Age', ascending=False)

# Grouping and aggregation
df.groupby('City')['Age'].mean()
df.groupby('City').agg({'Age': ['mean', 'min', 'max']})

# Pivot tables
pd.pivot_table(df, values='Age', index='City', columns='Name')

**Merging and Joining**

In [ ]:
# Concatenation
pd.concat([df1, df2], axis=0)  # Vertical
pd.concat([df1, df2], axis=1)  # Horizontal

# Merging (SQL-like joins)
pd.merge(df1, df2, on='key', how='inner')
pd.merge(df1, df2, on='key', how='outer')
pd.merge(df1, df2, on='key', how='left')
pd.merge(df1, df2, on='key', how='right')

**Time Series**

In [ ]:
# Date handling
dates = pd.date_range('2024-01-01', periods=6, freq='D')
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

# Time-based operations
df.resample('M').mean()  # Monthly resampling
df.rolling(window=3).mean()  # Rolling window
df.shift(1)              # Shift data

**Advanced Features**

In [ ]:
# Vectorized string operations
df['Name'].str.upper()
df['Name'].str.contains('Ali')

# Categorical data
df['City'] = df['City'].astype('category')

# MultiIndex
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])
df = pd.DataFrame({'data': [1, 2, 3, 4]}, index=index)

# Function application
df.apply(lambda x: x*2)  # Apply to each column
df.applymap(lambda x: x*2)  # Apply to each element